{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">{{post.title}}</h1>
        <p class="lead">
          por 
          <a href="#">{{post.user.username}}</a>
        </p>
        <hr>
        <p>Escrito el {{post.created}}</p>
        <hr>
        <img class="img-fluid rounded" src="{{ post.image_header.url }}" alt="">
        <hr>
        <p class="lead">{{post.post|safe}}</p>
        <hr>
        {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Deja un comentario:</h5>
          <div class="card-body">
            <form method="POST" action="{% url "posts:save_comment" %}">
              {% csrf_token %}
              <input type="hidden" name="url" value="{{post.url}}" />
              <input type="hidden" name="post" value="{{post.id}}" />
              <div class="form-group">
                <textarea class="form-control" name="comment" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
        {% endif %}
        {% for comment in comments %}
        <div class="media mb-4">
          {% if comment.user.profile.photo %}
          <img class="d-flex mr-3 rounded-circle" width="50px" height="50px" src="/media/{{ comment.user.profile.photo }}" alt="">
          {% else %}
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          {% endif %}
          <div class="media-body">
            <h5 class="mt-0">{{comment.user.username}}</h5>
            {{comment.comment}}
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}